openapi: 3.1.0
info:
  title: PharmaScope protected API
  version: 1.0.0
  description: >-
    Versioned, board-authorised read API for the PharmaScope web and future
    native clients. The managed server remains authoritative. Responses expose
    only governed source states and never substitute illustrative values for
    unavailable facts.
servers:
  - url: https://api.novapharmhealthcare.com
    description: Production authority; external verification pending
security:
  - sessionCookie: []
paths:
  /api/v1/pharmascope/medicines/search:
    get:
      operationId: searchMedicines
      summary: Search governed medicine identities
      parameters:
        - $ref: '#/components/parameters/SearchQuery'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Governed identity results and explicit fact-coverage state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicineSearchResponse'
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthorised' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/pharmascope/medicines/{medicineId}:
    get:
      operationId: getMedicineIdentity
      summary: Resolve one governed medicine identity
      parameters:
        - $ref: '#/components/parameters/MedicineId'
      responses:
        '200':
          description: Canonical identity, code history and governed coverage
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorised' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/pharmascope/analytics:
    get:
      operationId: queryMedicineAnalytics
      summary: Query observed EPD or PCA facts
      description: Partial runs and validation samples are never queryable through this operation.
      parameters:
        - name: dataset
          in: query
          required: true
          schema: { type: string, enum: [epd, pca] }
        - $ref: '#/components/parameters/MedicineIdQuery'
        - name: from
          in: query
          schema: { type: string, pattern: '^\\d{4}-\\d{2}$' }
        - name: to
          in: query
          schema: { type: string, pattern: '^\\d{4}-\\d{2}$' }
        - name: metric
          in: query
          schema: { type: string, enum: [items, quantity, nic, actual_cost] }
        - $ref: '#/components/parameters/Limit'
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, maximum: 1000000, default: 0 }
      responses:
        '200':
          description: Observed facts or an explicit unavailable/source-not-ingested state
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthorised' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/pharmascope/geography/nearby:
    get:
      operationId: nearbyHealthcareOrganisations
      summary: Find governed organisations around a real postcode coordinate
      parameters:
        - name: postcode
          in: query
          required: true
          schema: { type: string, minLength: 5, maxLength: 10 }
        - name: radiusKm
          in: query
          schema: { type: number, minimum: 0.1, maximum: 50, default: 5 }
        - name: organisationType
          in: query
          schema: { type: string, enum: [pharmacy, practice, all], default: all }
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Distance-calculated organisations with source and evidence qualifiers
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthorised' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: np_session
      description: Secure, HttpOnly managed session established through the governed identity flow.
  parameters:
    SearchQuery:
      name: q
      in: query
      required: true
      schema: { type: string, minLength: 2, maxLength: 160 }
    MedicineId:
      name: medicineId
      in: path
      required: true
      schema: { type: string, pattern: '^medicine-[a-f0-9]{32}$' }
    MedicineIdQuery:
      name: medicineId
      in: query
      required: true
      schema: { type: string, pattern: '^medicine-[a-f0-9]{32}$' }
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 30 }
  schemas:
    MedicineSearchResponse:
      type: object
      required: [query, results, demandFactsIncluded]
      properties:
        query: { type: string }
        results:
          type: array
          items: { type: object, additionalProperties: true }
        demandFactsIncluded: { type: boolean }
      additionalProperties: true
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
      additionalProperties: false
  responses:
    ValidationError:
      description: Invalid or unsupported query
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    Unauthorised:
      description: No valid managed session
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    Forbidden:
      description: The authenticated role does not hold PharmaScope access
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    NotFound:
      description: No governed identity or coordinate matched
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    RateLimited:
      description: Bounded request rate exceeded
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
